body {
    background-color: #fffff9;    
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: -.02em;
    font-size: 24px;
    line-height: 1.1;
    margin: 10px;

}

/* .dot {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    filter: blur(0px);
    position: absolute;
    pointer-events: none;
    background: linear-gradient(hotpink, lightblue);
    display: none;
} */

main {
    position: fixed;
    max-width: 1100px;
}

p {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: color .3s;
}

::selection {
    color: rgba(0, 0, 0, 1); /* WebKit/Blink Browsers */
  }

::-moz-selection {
    color: rgba(0, 0, 0, 1); /* Gecko Browsers */
}

.cont {
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: calc(100% - 20px);
        font-size: 18px;
}
.cont img {
        width: 900px;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Optional: adds space between columns */
  padding-top: 10px;
  padding-right: 10px;
}

.column {
  flex: 1 1 1;
}



@media (min-width: 800px) and (max-width: 1800px) {
    .cont img {
         width: 550px;
    }
}

@media (max-width: 800px) {
    .cont img {
         width: 300px;
    }

    body {
        font-size: 18px;
        line-height: 1.1;
    }

    a:hover {
         text-decoration: underline;
         text-underline-offset: 3px;
         transition: color .3s;
    }
}