body {
    background-color: white;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -.02em;
    font-size: 38px;
    line-height: 1.05;
    margin: 10px;

}

/* .dot {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    filter: blur(0px);
    position: absolute;
    pointer-events: none;
    background: linear-gradient(hotpink, lightblue);
    display: none;
} */

main {
    position: fixed;
}

p {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    border-bottom: .3rem solid #000;
    transition: color .3s;
}

::selection {
    color: rgba(0, 0, 0, 1); /* WebKit/Blink Browsers */
  }

::-moz-selection {
    color: rgba(0, 0, 0, 1); /* Gecko Browsers */
}

.cont img {
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 700px;
}

@media (max-width: 800px) {
    .cont img {
         width: 300px;
    }

    body {
        font-size: 24px;
    }

    a:hover {
         border-bottom: .2rem solid #000;
         transition: color .3s;
    }
} 

@media (max-width: 3000px) {
    .cont img {
         width: 600px;
    }
} 