.information {
  margin: 30px;
  font-size: 3em;
  text-align: center;
  color: white;
  margin-bottom: 120px;
}

@media screen and (max-width: 570px) {
  .information {
    margin-top: 80px;
    font-size: 1.5em; 
  }
}

.information a {
  color: white;
  text-decoration: none;
}

.information a:hover {
  border-bottom: 4px solid white;
  color: transparent;
}

.information p a:hover {
  border-width: 1px;
}

.information p {
  font-size: 26px;
  line-height: 1.4em;
}