body {
    background-color: black;
    color: white;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 45px;
    line-height: 52px;
    padding-left: 20px;
    margin-top: -20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: transparent;
    border-bottom: 2px solid white;
}
