html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  overflow:auto;
}

::selection {
  background: blue; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: blue; /* Gecko Browsers */
}

.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: flex-start;
}

.GalleryImage {
  margin: 16px;
  display: inline-block;
}
